<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <body>
    <h1>zewail city dashboard</h1>
    <container>
      <div id="chartdiv">
        <h1>Income in 2023</h1>
      </div>
      <div id="chartdiv1">
        <h1>percenatge of students per major and school</h1>
      </div>
      <div id="clustre_bar"><h1>cGPA Progress</h1></div>
      <div id="chartdiv3"><h1>Total income per 5 years</h1></div>
    </container>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <link rel="stylesheet" href="../static/stylesheet.css" />
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="../static/clustre bar.js" defer></script>
    <script src="../static/index1.js" defer></script>
    <script src="../static/index2.js" defer></script>
    <script src="../static/index3.js" defer></script>
  </body>
</html>
